# Configuración de Base de Datos para Producción (RDS)
# Renombra o copia este archivo a .env y llena los valores de producción.
DB_URL=jdbc:postgresql://localhost:5433/mydatabase
DB_USERNAME=myuser
DB_PASSWORD=secret

# Credenciales de AWS (Para acceso a DynamoDB localmente)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_S3_BUCKET_NAME=tu_bucket_name
AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:tu_topic_name
